<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coinAppVersion</key>
	<string>v1</string>
	<key>coinAppBaseUrl</key>
	<string>https://rest.coinapi.io/</string>
	<key>coinAppAPIKey</key>
	<string>64edf0d7-e74c-438e-98ec-f228e889f2f7</string>
</dict>
</plist>
