<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coinAppVersion</key>
	<string>v1</string>
	<key>coinAppBaseUrl</key>
	<string>https://rest-sandbox.coinapi.io/</string>
	<key>coinAppAPIKey</key>
	<string>F60E2897-A8AE-4BA0-B1D8-8A5B1CD71B28</string>
</dict>
</plist>
