<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoinApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoinAppTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CoinAppUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Production.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SandBox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>594DCD372958D80F00C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594DCD4D2958D81000C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594DCD572958D81000C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594DCDF82959414000C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594DCE1A2959416600C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594DCE5E29595A0A00C30E3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
